@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
